body{
    margin: 0;
}

/*.header {
    position: fixed;
    background-color: #ff0000;
    padding: 0;
    margin: 20px;
    width: 96%;
    z-index: 9999;
}

.header .logo {
    float: left;
    text-align: center;
    padding: 12px;
    width: 200px;
    margin-left: 10px;
}

.header p {
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    float: right;
    color: white;
    font-size: 120px;
    margin: 0;
    margin-top: 10px;
    margin-right: 50px;
}*/

#header{
    width: 100.5vw;
    top: 5;
    z-index: 9999;
    position: fixed;
}

#wrapper {
    z-index: -1;
    width:100vw; 
    height:100vh; 
    overflow:hidden;
    margin:10px 0 0 0;
    border:1px solid #777;
  }
  
  #map {
    position:relative; 
  }
  
  #map img{
    position:absolute;
    top:0;
    height: 100vh;
    left:0;
    border:0 none transparent;
  }

  #bottom-companies{
      z-index: 9999;
      overflow-x:auto;
      /*background-color: #ff0000;*/
      position: fixed;
      bottom: 15vh;
      left: 0;
      margin: 20px;
      width: 96%;
      height: 15vh;
      color: white;
      text-align: center;
  }

  #info-container{
    display: none;
    z-index: 9999;
    position: fixed;
    top: 100px;
    background-color: #d53233;
    width: 100.5vw;
    height: 70vh;
  }

  #info-container .textarea{
    margin-right: 30px;
    margin-top: 30px;
    height: 56vh;
    overflow-y: scroll;
  }

  #info-container h1{
    margin: 20px;
    margin-left: 50px;
    text-align: left;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    color: white;
    font-size: 50px;
    display: inline-block;
  }

  #info-container #close{
    font-family: sans-serif;
    color: white;
    font-size: 50px;
    float: right;
    margin-right: 40px;
  }

  #info-container p{
    margin-left: 30px;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    color: white;
    font-size: 30px;
  }

  .companies{
      vertical-align: center;
  }

  .companies img{
    margin-right: 30px;
    width: 10vh;
    height: 10vh;
    z-index: 9999;
  }

  #footer{
    width: 100.5vw;
    bottom: 0;
    z-index: 9999;
    position: fixed;
 }
